<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:xml="http://www.w3.org/XML/1998/namespace" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">
		<context-param>
			<param-name>dbInfo</param-name>
			<param-value>jdbcURL</param-value>
		</context-param>
		<servlet>
			<servlet-name>myServlet</servlet-name>
			<servlet-class>kr.co.bit.day7.MyServlet</servlet-class>
			<init-param>
				<param-name>data</param-name>
				<param-value>10</param-value>
			</init-param>
		</servlet>	
		<servlet-mapping>
			<servlet-name>myServlet</servlet-name>
			<url-pattern>/myServlet</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>controller</servlet-name>
			<servlet-class>kr.co.bit.controller.MyController</servlet-class>
		</servlet>	
		<servlet-mapping>
			<servlet-name>controller</servlet-name>
			<url-pattern>/controller</url-pattern>
		</servlet-mapping>
</web-app>
